* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background: #231b43;
    color: #ffffff;
}

main {
    width: 100%;
    max-width: 600px;
    margin: 60px auto 0;
    background: #31255e;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .08);
}

form {
    text-align: center;
}

form div {
    margin: 10px;
}

.data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: 10px auto;
    gap: 10px
}

.data input {
    width: 30%;
    width: auto;
}

.data label {
    margin-right: 5px;
}

.data button {
    flex: 1;
    padding: 5px;
    background: #6258b5;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.data button:hover {
    background: #968cee;
    transform: translateY(-2px);
}

input,
textarea {
    width: 60%;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    background: transparent;
    border: 1px solid #A855F7;
    color: #ffffff;
}

input::placeholder,
textarea::placeholder {
    color: #ffffff;
}

label {
    text-align: center;
}

h1 {
    text-align: center;
}

ul {
    list-style: none;
    max-width: 450px;
    margin: 30px auto;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4A4373;
    border: 1px solid #A855F7;
    padding: 15px;
    margin-bottom: 15px;
}

li button {
    padding: 8px 14px;
    background: transparent;
    color: #ffffff;
    border: 1px solid #6e66a6;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s ease;
}

li button:hover {
    background: #6258b5;
    transform: translateY(-2px);
}

#installbutton {
    display: block;
    margin: 0 0 20px auto;
    padding: 10px 20px;
    background: #6258b5;
    color: #ffffff;
    border: 1px solid #968cee;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: .2s ease;
}

#installbutton:hover {
    background: #968cee;
    transform: translateY(-2px);
}

@media (max-width: 600px) {
    .data {
        width: 100%;
    }
}